@import "base/colores";
@import "base/fuentes";
@import "base/footer";
@import "base/animaciones";




@mixin halsey {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  padding: 40px;
  font-size: 1.2rem;
}


tbody{   
  color: $negro;
  background-repeat: repeat-x;
  
  .colorEncabezadoTabla {
    color: $blanco;
}
}
td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imagenheader{
  height: 400 / 2 + px;
  margin: 5 * 2 + px;
}
.parrafo{
  border:   4px solid chocolate;
  font-family: sans-serif;
  }
.productosFlex{
  display: flex;
  justify-content: space-around;
} 

 .logo{
         width: 120px;
 }       

.tabla__color{
  color: white;
}

.color__tabla--modificado{
  color: $negro;
}
.menu{
  @include halsey
}
.menu__nav{
  color: #96120b;
  text-decoration: none;
}
body{
  background-image: linear-gradient(180deg, #1e130c , #9a8478);
  }
.card-body{
        background-color: brown;
}
.card-text{
        color: $blanco;
}

.container-fluid{
        background-color: brown;
}
.container{
        padding: 40px;
}

  
.contacto{
        display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     background-color: black;
}

.color-contacto{
        color: brown;
}
.btn{
        background-color: $negro;
}

.video{
        width: 100%;
}


.Nosotros{
margin: 3px
}

.Nosotrosp{
  display: table-cell;
  padding: 10px;
}

.parrafo{
  background-color: brown;
  color: $blanco;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgNosotros{
  width: 25px;
}

.card-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}